.client-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    @media screen  and (max-width: 767px){
    --items: 2;
    }

    @media screen and(min-width: 1200px) {
        flex-wrap: nowrap;
        }
}
@media screen and(max-width: 1199px) {
    .card-set {
        display: flex;
        flex-wrap: wrap;
        gap: var(--ident);
        }
}


.client-list__item {
flex-wrap: wrap;
gap: var(--ident);
}

.card-set__item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
}

.client-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;

    transition: color var(--transform-animation),
        border-color var(--transform-animation);

    &:hover,
    &:focus {
        border-color: #2196f3;
        color: #2196f3;
    }
@media screen and(min-width: 768px){
    width: 226px;
}
@media screen and(min-width: 1200px){
    width: 170px;
}
}
.client-icon {
    fill: currentColor;
}