@keyframes rotate-scale-up {
    0% {
        transform: translate(-50%, -50%) scale(1) rotateZ(0);
    }

    50% {
        transform: translate(-50%, -50%) scale(2) rotateZ(180deg);
    }

    100% {
        transform: translate(-50%, -50%) scale(1) rotateZ(360deg);
    }
}