body {
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
}

:root {
    --color-content-h2-h3-logo: #212121;
    --color-port-subtitle-p: #757575;
    --color-main-button-footer: #2196f3;
}

:root {
     --transform-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }